<div class="lyrics-finder">
  <div class="search-container">
    <div class="search-control">Search the world in titles</div>
    <div class="search-control">
      <mat-form-field>
        <input id="songWord" [(ngModel)]="songWord" matInput placeholder="Word in title">
      </mat-form-field>
    </div>
    <div class="search-control">
      <button mat-stroked-button (click)="getSongList()" color="primary">Search songs</button>
    </div>
  </div>
  <div class="songs-spinner" *ngIf="isLoading">
    <mat-progress-spinner style="margin:10px auto;" mode="indeterminate"></mat-progress-spinner>
  </div>
  <div *ngIf="!isLoading && songList !== undefined" class="songs-list">
    <div class="songs-number">
      There is {{available}} song(s).
    </div>
    <div *ngFor="let song of songList; index as i">
      {{i}} - {{ song.track.track_name }}
    </div>
    <mat-paginator [length]="available"
              [pageSize]="100"
              [pageSizeOptions]="pageSizeOptions"
              (page)="turnPage($event)">
    </mat-paginator>
  </div>
</div>
